# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
/coverage

# Next.js
.next/
**/ .next/
out/

# Production
build/
dist/

# Misc
.DS_Store
*.pem

# Env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Vericel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
.venv
pip-log.txt
pip-delete-this-directory.txt

# ONNX
*.onnx

# Local artifacts
/tmp/
.vscode/
.idea/
